@keyframes textPixelate {
  0% {
    filter: blur(8px) brightness(200%);
    letter-spacing: 8px;
    opacity: 0;
  }
  25% {
    filter: blur(4px) brightness(150%);
    letter-spacing: 4px;
    opacity: 0.5;
  }
  50% {
    filter: blur(2px) brightness(125%);
    letter-spacing: 2px;
    opacity: 0.75;
  }
  100% {
    filter: blur(0) brightness(100%);
    letter-spacing: normal;
    opacity: 1;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
}

.loading-text {
  text-shadow: 2px 2px 0px rgba(255,0,0,0.3);
  animation: textPixelate 2s steps(8) forwards;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
}
